*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body
{
    font-family: consolas;
}
header
{
    height: 60vh;
    max-width: 100vw;
    background: url("../img/a.jpg")  fixed center/cover; 
    box-shadow: 5px 0 15px blue;
    z-index: 2;
    
   
}
li
{
    /* background: green; */
    position: relative;
    padding: 35px 0;
    /* border-bottom: solid green; */
}
/* li:hover
{
    color: green;
    border-bottom: 3px solid green;
    transition: 0.3s ease;
}
li a:hover
{
    color: green;
} */
.nav-bar
{
    position: absolute;
    position: fixed;
    padding: 50px; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    height: 4%;
    font-size: 1.2rem;
    z-index: 1000;
    
    
}
.nav-bar a
{
color: antiquewhite;
}
.nav-bar .logo
{
    font-size: 2.2rem;
    font-weight: bold;
}

.nav-bar .lien-nav ul
{
    display: flex;
   

}
.nav-bar .lien-nav ul li
{
  margin: 0 25px;
}
.nav-bar .lien-nav ul li.active 
{
    color: green;
    font-weight: bolder;
    position: relative;
    /* background: red; */
    padding: 35px 0;
    border-bottom:3px solid green;
}
.nav-bar .lien-nav ul li :hover
{
    color: green;
    font-weight: bolder;
    position: relative;
    /* background: red; */
    padding: 35px 0;
    border-bottom:5px solid green;
    transition: 0.3s ease;
}

.nav-bar .menue
{
   position: absolute; 
   top: 10px;
   right: 30px;
   display: none;
   z-index: 1;
}
.lien-nav li a
{
    font-weight: bolder;
    position: relative;
    /* background: red; */
    padding: 35px 0;
}




@media screen and (max-width:920px) {
    .nav-bar
    {
        padding: 0;
        height: 15%;
    }
    .nav-bar .logo
    {
        padding-left: 20px;
        padding-top: 20px;
        display: block;
        /* background: red; */
    }
    .nav-bar .menue
    {
        display: block;
        z-index: 1;

       
    }
    .lien-nav
    {
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.467);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-left: -100%;
        transition: all 0.4s ease-in-out;
        z-index: 1;
    
    }
    .lien-nav.menue1
{
    margin-left: 0;
    /* z-index: 1; */
    
}

    .lien-nav ul
    {
       display: flex;
       flex-direction: column;
       align-items: center;
    }
.nav-bar .lien-nav ul li
{
  margin: 25px;
  font-size: 1.2rem;
  color: black;
}
    
}


/**************header message***********************/
.p-2
{
    /* background: red; */
    width: 80%;
    min-height: 500px;
    margin: 150px 50%;
    position: absolute;
    transform: translate(-50%);
    backdrop-filter: blur(5px);
    
}
h5{
    /* background: yellow; */
    position: relative;
    width: 80%;
    min-height: 50px;
    margin: 20px 50%;
    position: absolute;
    transform: translate(-50%);
    text-align: center;
    font-size: 1.3rem;
    font-family: "Rubik", sans-serif;
    color: aliceblue;
    text-shadow: 5px 5px 10px black;

}
.para
{
    /* background: yellow; */
    /* position: relative; */
    width: 80%;
    min-height: 90px;
    margin: 110px 50%;
    position: absolute;
    transform: translate(-50%);
    font-size: 4rem;
    text-align: center;
    color: aliceblue;
    font-family: "Rubik", sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 10px green;
    z-index: 2;
}


@media screen and (max-width:918px) {

    .para
    {
        font-size: 0.9rem;
    
}
}
@media screen and (max-width:515px) {

    h5
    {
    font-size: 0.8rem;
}
}

/******************* a propos acceuil**********************/
.propos1
{
    /* background: red; */
    /* background: rgba(0, 0, 255, 0.64); */
    background-color: #fff;
    position: absolute;
    max-height: 510px;
    margin: 500px 25%;
    translate: calc(-50%);
    width: 45vw;
    font-size: 1rem;
    padding: 10px 10px;
    font-family: "Rubik", sans-serif;  
    border-radius: 5px;  
    color: #6B6A75;
}
.propos2
{
    /* background: red; */
    background: url("../img/c.jpg") fixed no-repeat center/cover ;
    position: absolute;
    height: 550px;
    margin: 500px 70%;
    translate: calc(-50%);
    width: 400px;
    font-size: 1rem;
    padding: 10px 10px;
    font-family: "Rubik", sans-serif;  
    border-radius: 5px; 
    /* border-radius: 100%; */
    box-shadow: 1px 1px 20px black;
    
}
.propos1 h2 
{
    /* background: yellow; */
    text-align: justify;;
    font-size: 1rem;
}

.propos1 h1
{
    /* background: rgb(123, 0, 255); */
    margin: 20px 0;
    color: #06A3DA;
}
.propos2 img
{
 border-radius: 100%;
 box-shadow: 1px 1px 20px black;
}
/*********************** respon 2 infos********************/
@media screen and (max-width:1000px) {
    .propos1
    {
        /* background: red; */
        /* background: rgba(0, 0, 255, 0.64); */
        background-color: #fff;
        position: absolute;
        max-height: 510px;
        margin: 900px 50%;
        translate: calc(-50%);
        width: 800px;
        font-size: 1rem;
        padding: 10px 10px;
        font-family: "Rubik", sans-serif;  
        border-radius: 5px;  
        color: #6B6A75;
        
    }
    .propos2
    {
        /* background: red; */
        /* background: rgba(0, 0, 255, 0.64); */
        background: url("../img/IMG_20241031_134843_266@1059342393.jpg") fixed no-repeat center/cover ;
        position: absolute;
        max-height: 510px;
        margin: 1600px 50%;
        translate: calc(-50%);
        width: 800px;
        font-size: 1rem;
        padding: 10px 10px;
        font-family: "Rubik", sans-serif;  
        border-radius: 5px; 
        
    }
    .propos1 h2 
    {
        /* background: yellow; */
        text-align: justify;;
        font-size: 1rem;
    }
    
    .propos1 h1
    {
        /* background: rgb(123, 0, 255); */
        margin: 20px 0;
        color: #06A3DA;
    }
    .propos2 img
    {
     /* border-radius: 100%; */
     box-shadow: 1px 1px 20px black;
     height: 800px;
    
}
}



/****************** equipe**********************/

.tem1
{
    background: red;
    /* background: rgba(0, 0, 255, 0.64); */
    background-color: #fff;
    position: absolute;
    max-height: 510px;
    margin: 1300px 50%;
    translate: calc(-50%);
    width: 45vw;
    font-size: 0.8rem;
    padding: 10px 10px;
    font-family: "Rubik", sans-serif;  
    border-radius: 5px;  
    color: #6B6A75;
}
.tem2
{
    /* background: red; */
    background: rgba(56, 189, 255, 0.367);
    position: absolute;
    height: 550px;
    margin: 1600px 50%;
    translate: calc(-50%);
    width: 400px;
    font-size: 1rem;
    padding: 10px 10px;
    font-family: "Rubik", sans-serif;  
    border-radius: 5px; 
    /* border-radius: 100%; */
    
}
.tem1 h2 
{
    /* background: yellow; */
    text-align: center;
    font-size: 2rem;
    color: black;
}

.tem1 h1
{
    
    margin: 20px 0;
    color: #06A3DA;
    text-align: center;
    font-size:3rem;
    
}

.tem2 h2 
{
    /* background: yellow; */
    text-align: center;
    font-size: 1rem;
    color: #6B6A75;
}

.tem2 h1
{
    background: url("../img/IMG_20241031_134843_266@1059342393.jpg") fixed no-repeat center/cover;
    margin: 0 50%;
    translate: calc(-50%);
    color: #06A3DA;
    text-align: center;
    height: 450px;
    width: 400px;
    font-size: 20px;
}
.tem2 h1 p
{
    font-size: 20px;
    margin: 0;
}

.tem2 p
{
    font-size: 15px;
    margin: 60px;
    color: #06A3DA;
    width: 100%;
    text-align: center;
}
.tem2 .p1
{
    font-size: 13px;
    margin: 5px;
    color: #6B6A75;
    width: 100%;
}
.tem2 h1 img{
    border-radius: 10px;
    height: 550px;
    width: 350px;
}
.tem2 h1 span img
{
    height: 50px;
    width: 50px;
    padding: 200px 15px;
    display: none;
    opacity: 0;
    transform: translatey(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: inline-block;
}
.tem2 h1:hover span img
{
    opacity: 1;
    transform: translatey(0);
    cursor: pointer;
}

.tem3 h2 
{
    /* background: yellow; */
    text-align: center;
    font-size: 1rem;
    color: #6B6A75;
}

.tem3 h1
{
    /* background: rgb(123, 0, 255); */
    margin: 0 5px;
    color: #06A3DA;
    text-align: center;
    font-size: 25px;

}
.tem3 h1 img{
    border-radius: 100%;
}

.tem4 h2 
{
    /* background: yellow; */
    text-align: center;
    font-size: 1rem;
    color: #6B6A75;
}

.tem4 h1
{
    /* background: rgb(123, 0, 255); */
    margin: 0 5px;
    color: #06A3DA;
    text-align: center;
    font-size: 25px;
}
.tem4 h1 img{
    border-radius: 100%;
}


@media screen and (max-width:1523px) {

    .tem4
{
    /* background: red; */
    /* background: yellow; */
    position: absolute;
    height: 300px;
    margin: 1500px 50%;
    translate: calc(-50%);
    width: 900px;
    font-size: 1rem;
    padding: 10px 10px;
    font-family: "Rubik", sans-serif;  
    border-radius: 5px; 
    /* border-radius: 100%; */

    
}
.tem2
{
    /* background: red; */
    /* background: yellow; */
    position: absolute;
    height: 300px;
    margin: 3100px 50%;
    translate: calc(-50%);
    width: 900px;
    font-size: 1rem;
    padding: 10px 10px;
    font-family: "Rubik", sans-serif;  
    border-radius: 5px; 
    /* border-radius: 100%; */
    
}
.tem3
{
    /* background: red; */
    /* background: yellow; */
    position: absolute;
    height: 300px;
    margin: 3450px 50%;
    translate: calc(-50%);
    width: 900px;
    font-size: 1rem;
    padding: 10px 10px;
    font-family: "Rubik", sans-serif;  
    border-radius: 5px; 
    /* border-radius: 100%; */
    
}
.tem1
{
    background: red;
    /* background: rgba(0, 0, 255, 0.64); */
    background-color: #fff;
    position: absolute;
    max-height: 510px;
    margin: 2900px 50%;
    translate: calc(-50%);
    width: 900px;
    font-size: 1rem;
    padding: 10px 10px;
    font-family: "Rubik", sans-serif;  
    border-radius: 5px;  
    color: #6B6A75;
}

}

@media screen and (max-width:1494px) {

 
.tem2
{
    /* background: red; */
    /* background: yellow; */
    position: absolute;
    height: 600px;
    margin: 1500px 50%;
    translate: calc(-50%);
    width: 900px;
    font-size: 1rem;
    padding: 10px 10px;
    font-family: "Rubik", sans-serif;  
    border-radius: 5px; 
    /* border-radius: 100%; */
    
}

.tem1
{
    background: red;
    /* background: rgba(0, 0, 255, 0.64); */
    background-color: #fff;
    position: absolute;
    max-height: 510px;
    margin: 1200px 50%;
    translate: calc(-50%);
    width: 900px;
    font-size: 1rem;
    padding: 10px 10px;
    font-family: "Rubik", sans-serif;  
    border-radius: 5px;  
    color: #6B6A75;
}

}


@media screen and (max-width:1018px) {

 
    .tem2
    {
        /* background: red; */
        /* background: yellow; */
        position: absolute;
        height: 600px;
        margin: 2500px 50%;
        translate: calc(-50%);
        width: 900px;
        font-size: 1rem;
        padding: 10px 10px;
        font-family: "Rubik", sans-serif;  
        border-radius: 5px; 
        /* border-radius: 100%; */
        
    }
    
    .tem1
    {
        background: red;
        /* background: rgba(0, 0, 255, 0.64); */
        background-color: #fff;
        position: absolute;
        max-height: 510px;
        margin: 2200px 50%;
        translate: calc(-50%);
        width: 900px;
        font-size: 1rem;
        padding: 10px 10px;
        font-family: "Rubik", sans-serif;  
        border-radius: 5px;  
        color: #6B6A75;
    }
    
    }
    